<div style="padding: 20px;">
    <h4>{{title}}</h4>
    <hr>
    <form>
        <div style="margin-bottom: 10px;">
            <label>Tên món ăn</label>
            <input [(ngModel)]="tenMonAn" type="text" name="ff" style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Đơn giá</label>
            <input [(ngModel)]="donGia" type="number" name="ff" style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Nguyên liệu</label>
            <select [(ngModel)]="nguyenLieu" name="ff" id="" style="width: 100%; height: 30px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div style="margin-bottom: 10px;">
            <label>Đơn vị</label>
            <select [(ngModel)]="nguyenLieu" [ngModelOptions]="{standalone: true}" style="width: 100%; height: 30px;">
                <option *ngFor="let dv of dsDV" [value]="dv.value">{{dv.text}}</option>
            </select>
        </div>
        <div style="margin-top: 30px; display: flex; justify-content: flex-end; align-items: center;">
            <button
                style="padding: 6px 20px ;border: none ;background: #ddd; color: black; margin-right: 6px ;">Đóng</button>
            <button style="padding: 6px 20px ;border: none ;background: blue;color: white;" (click)="save()">Lưu</button>
        </div>
    </form>
</div>