<div style="padding: 20px;">
    <h4>{{title}}</h4>
    <hr>
    <form [formGroup]="formAdd">
        <div style="margin-bottom: 10px;">
            <label>Tên món ăn</label>
            <input formControlName="TenMonAn" type="text" style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Đơn giá</label>
            <input formControlName="DonGia" type="number" style="width: 100%;">
        </div>
        
        <div style="margin-bottom: 10px;">
            <label>Đơn vị</label>
            <select formControlName="DonViTinh" style="width: 100%; height: 30px;">
                <option *ngFor="let dv of dsDV" [value]="dv.value">{{dv.text}}</option>
            </select>
        </div>
        <div style="margin-bottom: 10px; width: 50%;">
            <img width="100%" [src]="domFile.bypassSecurityTrustUrl(imgsrc)" alt="">
            <div class=" border text-center border-top-0 bg-light">
                <label class="px-2 mb-0" style="cursor: pointer;" (change)="fileChange($event)">
                    <i class="fas fa-camera fa-2x"></i>
                    <input type="file" style="display: none;"
                        accept=" .bmp, .dib, .png, .jfif, .pjpeg, .jpeg, .pjp, .jpg, .gif">
                </label>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <label>Nguyên liệu</label>
            <div class="col-md-6" style="margin-top: 30px;" *ngFor="let data of dsNguyenLieu">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        {{data.tenNguyenLieu}}
                    </div>
                    <input style="width: 80%;" type="number" placeholder="Nhập Số lượng">
                </div>
            </div>
        </div>
        <div style="margin-top: 30px; display: flex; justify-content: flex-end; align-items: center;">
            <button (click)="bsModalRef.hide()"
                style="padding: 6px 20px ;border: none ;background: #ddd; color: black; margin-right: 6px ;">Đóng</button>
            <button style="padding: 6px 20px ;border: none ;background: blue;color: white;"
                (click)="save()">Lưu</button>
        </div>
    </form>
</div>